extends _base

block content
	p Simpkey is a Misskey client that requires no JavaScript.
	p: a(href="https://github.com/andrigamerita/simpkey", target="_blank", rel="noopener noreferrer") Source Code
	h2 Release v#{version}
	ul
	each val in changelog
		li= val