extends _base

block content
    p Welcome to Simpkey
    p To get started, enter your login data.
    form(action="/", method="post")
        div: label Instance Domain:
            input(type="text", name="host", placeholder="例: misskey.io")
        div: label Username:
            input(type="text", name="username")
        div: label Password:
            input(type="password", name="password")
        div: label 2FA Code (if needed):
            input(type="text", name="token")
        p Before logging in, please read the "Terms of Use", "Privacy Policy", and "Help" at the bottom.
        button(type="submit") Login!