extends _base

block content
	h2 Privacy Policy
	p The following is the privacy policy for this site. By using this site's services, you automatically agree to the policy.
	
	h3 Purpose of Use of Personal Information
	p The Site requires you to enter your user name and password when you log in to your target instance of Misskey.
	p This information is only used to log in to the applicable instance of Misskey. The Site itself does not collect any username/password entered by the user.
	p The site also collects the user's IP address. The IP addresses collected are used to identify and take action against users who violate the Terms of Use.
	
	h3 Disclosure of Personal Information to Third Parties
	p Personal information collected will not be disclosed to outside parties, except when reporting malicious violations to providers as part of the punishment of users who have committed such violations, or when required by law. We also do not outsource the handling of personal information to third parties.
	
	h3 Disclaimer
	p This Privacy Policy does not apply to Misskey instances accessed through the Site. You should separately review the privacy policy of the instance in question. This site is not responsible for any personal information handled by the instances accessed through this site.
	
	h3 Changes
	p This site will comply with Japanese laws and regulations applicable to personal information, and will review and improve the contents of this policy from time to time.
	p The latest privacy policy as amended will always be disclosed on this page.
