extends _base

block content
	if canReact
		h2 Want to react to this note?
		+sub-note(note)
		form(action="/action/react", method="post")
			each val in reactions
				div: label
					input(type="radio", name="reaction" value=val)
					!= val
			div: label
				input(type="radio", name="reaction", value="custom")
				input(type="text", name="customReaction")
			input(type="hidden", name="noteId", value=note.id)

			button(type="submit") React!
	else
		h2 Can't react to this note
		+sub-note(note)
