extends _base

block content
    h2 Want to reply to this note?
    +sub-note(note)
    +post-form('/action/create-note', "What to reply with?", "Reply")
        input(type="hidden", name="replyId", value=note.id)