extends _base

block content
	h2 Terms of Use
	p The following are the Terms of Use for this site. By using the services on this site, you automatically agree to these terms and conditions.

	h3 Prohibited acts
	p The following acts are strictly prohibited.
	ul
		li Intentionally overloading the server
		li Unsolicited acts such as intentionally exploiting server software vulnerabilities to generate unauthorized data or disable part or all of the system
		li Actions that violate the terms of service of the server to which the user is connecting.
		li Other acts deemed inappropriate by the management
	p If you violate the Terms of Service, we will prohibit access from your IP address, and if it is malicious, we will report you to your provider.
